.user {
  display: flex;
  justify-content: space-between;
}
.user__header {
  margin-right: 30px;
  border-right: 1px solid rgb(186, 186, 186);
  width: 5.8%;
  height: auto;
}

.user__ultimaate {
  width: 400px;
  border-left: 1px solid rgb(186, 186, 186);
  height: auto;
}

.user__center {
  padding-top: 50px;
  width: 700px;
}

.user__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px !important;
}

.user__name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px !important;
}

.user__span {
  display: block;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(133, 133, 133);
}

.user__title {
  margin-top: 32px;
  letter-spacing: -0.016em;
  color: rgba(41, 41, 41, 1);
  font-size: 32px !important;
  font-weight: 600 !important;
  margin-bottom: 26px;
}

.user__img {
  width: 700px;
  height: 450px;
  object-fit: cover;
}

.user__p {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 600;
  color: rgba(41, 41, 41, 1);
}

.comment-bottom-fixed {
  position: fixed;
  bottom: 20px;
  min-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  border-radius: 30px;
}

.comment-bottom-fixed div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.comment-bottom-fixed div svg {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 50%;
}

.comment-bottom-fixed div svg:hover {
  background-color: rgb(214, 214, 214);
}

.comment {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none;
}
