.backdrob {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 50;
  opacity: 0.9;
}
.modal__main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border-radius: 6px;
  height: 500px;
  background-color:white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 200;
  opacity: 1;
}

.modal__padding {
  padding-top: 50px;
  text-align: center;
}


.modal__title {
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.014em;
  text-align: center;
  margin-bottom: 40px;
}

.modal__input {
  width: 40%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(157, 157, 157)  
}

.modal__desc {
  margin: 0;
  font-size: 16px;
  color: rgba(26, 137, 23, 1);
  font-weight: 600;
  display: block;
  margin-left: -250px !important;
  margin-top: 20px;
}

.modal__chek {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -240px;
}

.modal__btn {
  margin-top: 120px;
  padding: 6px 16px;
  border: 1px solid rgb(157, 157, 157);
  border-radius: 20px;
  font-weight: 600;
  margin-right: 10px;
  background-color: transparent;
}

.btn__create {
  border-color: rgba(26, 137, 23, 1);
  color: #fff;
  background-color: rgba(26, 137, 23, 1);
}

.modal__count {
  font-size: 13px;
  color: rgb(157, 157, 157);
  margin-left: 340px !important;
}

.modal__x {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
}