.header__top{
  padding: 3px 0 2px 0;
  height: 42px;
  border-bottom: 1px solid #ececec;
}

.header__top-left{
  font-size: 14.5px;
  color: #333;
  line-height: 36px;

  .bx{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 3px;
  }
}

.header__top-right{
  line-height: 36px;
}

.header__top-dropdown{
  color: #333;
  font-size: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:not(:last-child){
    margin-right: 30px;
  }

  img{
    margin-right: 5px;
    width: 18px;
    height: 12px;
    margin-top: 2px;
  }

  .bx{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 3px;
  }

  &:hover{
    color: #6bad0d;

    .header__top-dropdown-list{
      opacity: 1;
      visibility: visible;
      z-index: 401;
      transform: translateY(0);
    }
  }
}

.header__top-dropdown-list{
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 250ms ease;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 145px;
  padding: 5px 0;
  border: 1px solid #ececec;
  background: #fff;
  transform: translateY(8px);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.header__top-dropdown-item{
  padding: 0 10px;
}

.header__top-btn{
  transition: all 350ms ease;
  color: #333;
  font-size: 0.9em;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;

  &:hover{
    color: #6bad0d;
  }
}

.header__middle{
  padding-top: 40px;
}

.header__middle-logo-box{
  width: 100%;
  height: 100%;
  max-width: 121px;
  max-height: 30px;

  img{
    width: 100%;
    height: 100%;
  }
}

.header__middle-search{
  margin: 0 50px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header__middle-input{
  width: calc(100% - 130px);
  flex-grow: 1;
  border: none;
  padding: 0 15px;

  &:focus{
    outline: none;
  }
}

.header__middle-btn{
  width: 130px;
  border-radius: 0 4px 4px 0;
  background-color: #6bad0d;
  border: none;
  color: #FFF;
  transition: all 200ms ease;
  text-transform: uppercase;
  font-size: 90%;
  line-height: 44px;
  letter-spacing: 1px;
  opacity: .9;
  padding: 0;
  margin: 0 !important;

  .bx{
    font-size: 20px;
    margin-left: 5px;
    transform: translateY(4px);
  }

  &:hover{
    opacity: 1;
  }
}

.header__middle-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__middle-item{
  margin-left: 15px;
}

.header__middle-item-btn{
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 28px;
  transition: all 0.3s ease;

  &:hover{
    color: #6bad0d;
  }
}

.header__nav{
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  margin-top: 40px;
}

.header__categories{
  background-color: #6bad0d;
  min-width: 280px;
  border-radius: 6px 6px 0 0;
  margin-right: 45px;
  padding: 17px 25px 15px 15px;
  border-top: 1px solid transparent;
  font-size: 105%;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;

  .bx{
    font-size: 25px;
    margin-right: 10px;
    padding-left: 5px;
  }
}

.header__real-nav{
  flex-grow: 1;
}

.header__nav-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-link{
  margin-right: 20px;
  color: #333;
  font-weight: 500;
  padding: 15px 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after{
    transition: all 350ms ease;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    border-top: 2px solid transparent;
  }

  &:hover{
    color: #333;

    &::after{
      width: calc(100% - 17px);
      visibility: visible;
      opacity: 1;
      border-color: #212121;
    }
  }
}

.header__nav-item{
  display: flex;
  align-items: center;
}

.navbar__active{
  &::after{
    width: calc(100% - 17px);
    visibility: visible;
    opacity: 1;
    border-color: #212121;
  }
}

.header__nav-tel{
  font-size: 115%;
  transition: color 200ms ease;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover{
    color: #6bad0d;
  }

  .bx{
    font-size: 25px;
    margin-right: 15px;
    margin-top: 4px;
  }
}

.header__nav-category-list{
  width: 280px;
  position: absolute;
  z-index: 101;
  top: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 0;
  border: 2px solid #6bad0d;
  padding: 5px 0;
  border-radius: 0 0 8px 8px;
  background: #FFF;
}

.header__nav-category-item{
  padding: 0 20px;
}

.header__category-link{
  width: 100%;
  transition: all 150ms ease;
  text-decoration: none;
  padding: 6px 0!important;
  display: inline-block;
  border-bottom: 1px solid #ddd;
  font-size: 110%;
  color: #333;
  text-transform: none;
  display: flex;
  align-items: center;
  position: relative;

  &:hover{
    color: #6bad0d;
  }

  .bx{
    position: relative;
    top: 3px;
  }

  .bx-first{
    top: 0;
  }

  .bx-chevron-right{
    font-size: 17px;
  }
}

.bbn{
  border-bottom: none;
}