.footer {
  background: #fafafa;
  border-top: 1px solid #ececec;
  padding-top: 80px;
  padding-bottom: 50px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__list-icons {
    display: flex;
    align-items: center;
  }

  &__item-icon:not(:last-child) {
    margin-right: 20px;
  }

  &__icon {
    color: #5B5B5B;
  }

  &__title {
    font-size: 23px;
    color: #333;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__input {
    width: 66%;
    margin: 1px 0 0;
    padding: 0 9px;
    width: 283px;
    height: 36px;
    border: 1px solid #DEDEDE;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 141px;
    height: 36px;
    background-color: #6bad0d;
    border: none;
    color: #fff;
    margin-left: 5px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }

  &__end {
    padding: 20px 0;
    border-top: 1px solid #ececec;
  }
  &__boxing {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__text {
    color: #333;
  }

  &__links-item:not(:last-child) {
    margin-right: 15px;
  }

  &__links-link {
    text-decoration: none;
    color: #333;
    transition: all 0.5s ease;

    &:hover {
      color: #6bad0d;
    }
  }


  &__item {
    margin-bottom: 10px;
  }
  &__link {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.5s ease;

    &:hover {
      color: #6bad0d;
    }
  }

  &__list-box {
    display: flex;
    justify-content: space-between;
  }


  &__days {
    width: 430px;
  }
  &__days-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__days-item:not(:last-child) {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  &__payment {
    float: right;
    margin-top: 22px;
  }
}