.header {
  border-bottom: 1px solid #eee;
  
  &__main {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__lang {
    display: flex;
    align-items: center;
  }
  &__flag {
    margin-right: 5px;
  }

  &__lang {
    position: relative;
  }
  &__text {
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      color: rgb(30, 212, 45);
    }
  }
}
.lang {
  display: none;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  padding: 10px 15px;
  background-color: #fff;

  &__flags {
    display: flex;
    align-items: center;
  }
}

.bx-buildings {
  font-size: 20px;
  margin-right: 5px;
}
.header__langLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  p{
      cursor: pointer;
      text-transform: capitalize;
      &:hover{
          transition: all ease 0.3s;
          color: rgb(30, 212, 45);
      }
  }
}
.header__lang {
  position: relative;
  transition: all ease 0.5s;
  cursor: pointer;
  padding: 12px 0;
  &:hover{
      .lang__box{
          z-index: 99; 
          display: block;
          top: 0;
          
      }
  }
  
  .lang__box{
      width: 200px; 
      display: none;
      position: absolute;
      top: 30px;
      left: -15px;
      padding: 45px 15px 0; 
      transition: all ease 0.5s;
      
      .lang__text{
          width: 150px;
          border: 1px solid rgba(0, 0, 0, 0.096);
          padding: 10px 15px;
          background-color: #fff;
      }
  }

}
.header_login{
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  &:hover {
    color: #6bad0d;
  }
  i {
    margin-right: 5px;
    font-size: 20px;
  }
}

.lang__flags {
display: flex;
align-items: center;
margin-bottom: 10px;
}
.lang__flag {
margin-right: 8px;
}


.dollar{
  position: relative;
  cursor: pointer;
  transition: all ease 0.5s;
  &:hover{
      .dollar__inner{
          display: block;
          top: 35px;
      }
  }
}


.dollar__inner {
  z-index: 999;
  display: none;
  position: absolute;
  transition: all ease 0.5s;
  top: 50px;
  ul{
      width: 150px;
      background-color: #fff;
      list-style-type: none;
      text-align: left;
      padding: 15px;
      border: 1px solid rgba(0, 0, 0, 0.103);
      
    li {
      margin-bottom: 10px;
    }
  }
}

.imgLogoofModal {
  position: relative;
  left: 190%;
  width: 100px;
}
.modal__title {
  margin: 5px 0 20px;
  font-size: 22px;
  text-align: center;
}

.modal--inner {
  margin: 0 15% 20px;
}
.modal__inputbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal__check {
  display: flex;
  align-items: center;

  input {
    margin-right: 8px;
  }
  span {
    color: #666;
    font-size: 14px;
    cursor: pointer;
  }
}

.submit-btn {
  margin-top: 15px;
  width: 325px;
  height: 40px;
  background-color: #6bad0d;
  border: none;
  color: #FFF;
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.login-hr {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}
.hr-line{
  width: 24%;
  border-bottom: 1px solid #ddd;
  
}
.drewer__inner{
  margin: 20px;
}
.closer_btn{
  padding: 10px 15px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.274);
  background-color: #fff;
  font-weight: 700;
  position: absolute;
  left: -25px;
  top: 30px;
  &:hover{
      transition: all ease 0.5s;
      background-color: var(--green);
      color: #fff;
  }
}

.socials{
  margin: 0 auto;
  gap: 10px;
}
.social__item{
  margin-left: 70px;
  background-color: #3B5998;
  padding: 8px 38px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #fff;
  &:hover{
      background-color: #0b3681;
  }

}
.social__item2{
  background-color: #3E7DE6;
  padding: 8px 35px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #fff;
  &:hover{
      background-color: #276add;
  }
  
}
.account {
  margin: 20px 0;
  text-align: center;
}

.account__link {
  color: #6bad0d;
  margin-left: 10px;
  cursor: pointer;
}

.EZDrawer{
 z-index: 99999;
}
.EZDrawer__container{
  z-index: 999999;
  width: 460px !important;
}

