.comment-fixed {
  width: 420px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 666;
  transition: all 0.4s ease;
  overflow-y: scroll;
}

.comment-fixed::-webkit-scrollbar {
  width: 10px;
}

.comment-fixed::-webkit-scrollbar-track {
  background-color: #d3d3d3;
}

.comment-fixed::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 10px;
}

.comment-fixed-show {
  right: 0;
}

.modal-back1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 555;
  opacity: 0.2;
  display: none;
}

.modal-back1-show {
  display: block;
}

.comment__input-div {
  width: 370px;
  height: 210px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px;
  margin-left: 18px;
  margin-bottom: 20px;
}



.comment__logo {
  padding-top: 12px;
  padding-left: 12px;
}
.comment__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.comment__name {
  margin: 0 !important;
}

.comment__input {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  margin-top: 20px;
  padding-left: 16px;
  resize: none;
}

.comment__bold {
  padding-left: 13px;
}
.comment__italic {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  color: rgb(118, 118, 118);
  margin-right: 20px !important;
}

.comment__left {
  margin-bottom: 10px;
}

.comment__items {
  list-style: none;
}
.comment__button {
  padding: 3px 10px;
  background-color: transparent;
  border: none;
}

.comment__btn {
  background-color: rgb(26, 137, 23);
  color: #fff;
  border-radius: 20px;
  margin-right: 10px;
}

.comment__img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.comment__user-name {
  font-size: 14px;
}

.comment__span-day {
  position: relative;
  top: -5px;
  font-size: 12px;
}

.commetns__svg {
  margin-right: 13px;
}

.comments__desc {
  width: 100%;
}

.comments__btn {
  background-color: transparent;
  border: none;
}

.comments__club-span {
  display: inline-block;
  position: relative;
  top: 3px;
}

.comments__btn-repley {
  position: relative;
  top: 2px;
}

.comments__f {
  margin-bottom: 16px;
}

.comments__hr {
  width: 373px;
}

.comment__sc {
  fill: rgb(181, 181, 181);
}

.coometn-rep {
  background-color: transparent;
  border: none;
}

.commetns__replay-div {
  width: 370px;
  height: 0px;
  overflow: hidden;
  // display: none;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.overflow {
  height: 210px;
  overflow: none;
}
