.notifigation__header {
  margin-right: 30px;
  border-right: 1px solid rgb(186, 186, 186);
  width: 5.8%;
  height: auto;
}

.notifigation__unlimite {
  width: 400px;
  border-left: 1px solid rgb(186, 186, 186);
  height: 100vh;
}


.notifigation__center {
  padding-top: 40px;
  width: 700px;
}
.notif__h2 {
  font-size: 40px;
  font-weight: 600;
}
.notif__hr {
  margin: 0;
  margin-bottom: 30px;
}
.notif__all {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color:rgb(155, 155, 155);
}

.notif__span-right {
  font-size: 14px;
  font-weight: 500;
  color: rgba(26, 137, 23, 1);
  cursor: pointer;
}
